<!-- /views/page.html -->
<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<html>
<head>
    <title>{{.title}}</title>
</head>

<body>
</body>

<div style="position:absolute; top:60px; left:10px; width:500px; height:500px;">
    <canvas id="line-chart" width="10" height="10"></canvas>
    <script>new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: {{ .x }},
                datasets: [{
                    data: {{ .y }},
                    label: "Africa",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: {{.title}}
                }
            }
        });
    </script>
    <div>

</html>