<!-- /views/page.html -->
<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<html>
<head>
    <title>{{.id}}</title>
</head>

<body>
Item: <img src="https://rsbuddy.com/items/{{.id}}.png"><br>

<a href="/graph/{{.id}}/weekly">Weekly</a><br>
<a href="/graph/{{.id}}/monthly">Monthly</a><br>
<a href="/graph/{{.id}}/quarter">Quarter</a><br>
</body>

<p>Buying: {{.item_struct.Buying }}</p>
<p>Selling: {{.item_struct.Selling }}</p>
<p>Margin: {{.item_struct.Margin }}</p>

<div style="position:absolute; width:500px; height:500px;">
    <canvas id="line-chart" width="10" height="10"></canvas>
    <script>new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: {{ .x }},
                datasets: [{
                    data: {{ .y }},
                    label: "Average Price (gp)",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: {{.item_struct.Name}}
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                        }
                    }]
                }
            }
        });
    </script>

    <div>

</html>