<!-- /views/page.html -->
<!doctype html>

<html>
    <head>
        <title>{{.title}}</title>
    </head>

    <body>
        {{range .items}}
            <br>------------------------------------------------
            <br><img src="https://rsbuddy.com/items/{{.Id}}.png"> <a href="/item/{{.Id}}">{{.Name}}</a>
        {{end}}
        <hr>
        This page not use master, Render code:
        <pre>ctx.HTML(200, "page.html", gin.H{})</pre>
        <br>
        "page.html" - add extension  ".html" will render without master.
        <hr>
    </body>
</html>